body {
    margin: 0;
    padding: 0;
}

:root {
    --gray: #6c757d;
    --primary_color: #4d74ff;
    --secondary_color: #2c2828;
    --ui_element_color: #eeeddc;
    --body_color: #505050;
    --black: #000;
    --white: #fff;
    --grey: #F5F5F5;
    --lihgt_grey: #B8B7C0;
    --primary_font: Khula, sans-serif;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary_color);
    display: inline-block;
}

body {
    font-family: var(--primary_font);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--body_color);
    line-height: 27px;
    font-size: 17px;
}

h1 {
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
    font-family: var(--primary_font);
    font-style: normal;
    color: var(--secondary_color);
    font-size: 60px;
    line-height: 76px;
}

h2 {
    text-transform: capitalize;
    font-weight: 550;
    text-decoration: none;
    font-family: var(--primary_font);
    font-style: normal;
    color: var(--secondary_color);
    font-size: 56px;
    line-height: 48px;
}

h3 {
    text-transform: capitalize;
    font-weight: 550;
    text-decoration: none;
    font-family: var(--primary_font);
    font-style: normal;
    color: var(--secondary_color);
    font-size: 50px;
    line-height: 66px;
}

h5 {
    font-weight: normal;
    text-decoration: none;
    font-family: Khula, serif;
    font-style: normal;
    color: #000;
    font-size: 24px;
    text-transform: none;
    line-height: 1.6;
}

h4 {
    font-weight: normal;
    text-decoration: none;
    font-family: Khula, serif;
    font-style: normal;
    color: #2c2828;
    font-size: 40px;
    text-transform: none;
    line-height: 1.3;
}

h6 {
    color: #747575;
    font-weight: bold;
    text-decoration: none;
    font-family: Khula, serif;
    font-style: normal;
    color: var(--black);
    font-size: 20px;
    text-transform: none;
    line-height: 1.6;
    margin: 0px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px 0;
}

/* containers */

.content-wrapper {
    max-width: 1230px;
    padding: 0 15px;
    margin: auto;
}

.section-padding {
    padding: 100px 0;
}

.section-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.card-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media(min-width : 0px) {
    .col-xs-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xs-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xs-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xs-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xs-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xs-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xs-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xs-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xs-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xs-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media(min-width:576px) {
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(min-width:768px) {
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(min-width : 1024px) {
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(min-width:1440px) {
    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Font-colors */
.all-text-white,
.all-text-white h1,
.all-text-white h2,
.all-text-white h3,
.all-text-white h4,
.all-text-white h5,
.all-text-white h6,
.all-text-white p,
.all-text-white a,
.all-text-white span {
    color: var(--white);

}

.all-text-black,
.all-text-black h1,
.all-text-black h2,
.all-text-black h3,
.all-text-black h4,
.all-text-black h5,
.all-text-black h6,
.all-text-black p,
.all-text-black a,
.all-text-black span {
    color: var(--black);

}

.all-text-primary,
.all-text-primary h1,
.all-text-primary h2,
.all-text-primary h3,
.all-text-primary h4,
.all-text-primary h5,
.all-text-primary h6,
.all-text-primary p,
.all-text-primary a,
.all-text-primary span {
    color: var(--primary_color);

}

.all-text-secondary,
.all-text-secondary h1,
.all-text-secondary h2,
.all-text-secondary h3,
.all-text-secondary h4,
.all-text-secondary h5,
.all-text-secondary h6,
.all-text-secondary p,
.all-text-secondary a,
.all-text-secondary span {
    color: var(--secondary_color);

}

/* Text-alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Content / Flex Alignment */

.align-center {
    align-items: center;
}

.align-top {
    align-items: top;
}

.align-bottom {
    align-items: bottom;
}

.justify-left {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.primary-btn a {
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
    padding: 12px 26px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 20px;

}

.primary-btn a:hover {
    background-color: #1435ad;
    transition-duration: .3s;
}

.border-primary-btn a {
    border: 2px solid var(--primary_color);
    padding: 10px 26px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.underline {
    text-decoration: underline;
    color: var(--primary_color);
    margin-top: 10px;
}

.heading-line {
    position: relative;
    padding-bottom: 20px;
}

.heading-line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    width: 18%;
    height: 2px;
    background-color: #4d74ff;


}

.heading-line::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #4d74ff;
    border-radius: 50%;
    bottom: -32px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 6px solid #fff;
    z-index: 2;

}

.primary-onesided-border {
    border-left: 3px solid var(--primary_color);
    padding-left: 15px;
}

.main-container {
    margin-top: 60px;
}


/* css for forms */
form {
    max-width: 100%;
    padding: 0 50px 0 0;
}

form input[type="text"],
form input[type="email"],
form input[type="phone"],
form textarea {
    padding: 20px 25px;
    border: 2px solid var(--lihgt_grey);
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="phone"]::placeholder,
.contact-form form textarea::placeholder {
    color: var(--lihgt_grey);
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="phone"]:focus,
.contact-form form textarea:focus {
    outline: none;
    border-color: var(--primary_color);
}

form input[type="submit"] {
    padding: 20px 35px;
    border-radius: 4px;
}

/* css for social link */

a.social-icon {
    font-size: 14px;
    border-radius: 50%;
    border: 2px solid #FFFFFF1A;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    width: 36px;
    height: 36px;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 10px
}

a.social-icon:hover {
    background-color: var(--primary_color);
}